ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Jost";
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  padding-top: 26px;
  padding-bottom: 18px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.header-nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-nav__link:hover {
  color: #cda274;
}

.active-page {
  color: #cda274;
}

.logo__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 30px;
  margin-right: 10px;
}

.header-logo__span {
  color: #cda274;
}

.hero {
  padding-top: 188px;
  padding-bottom: 260px;
  background-size: cover;
  height: 831px;
  background-image: url(../../images/IMAGE.jpg);
}

.hero__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
  color: #292F36;
}

.hero__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
  max-width: 650px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.hero__button {
  background: #292F36;
  border: 2px solid #292F36;
  border-radius: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-button__svg {
  margin-left: 18px;
  fill: #cda274;
}

footer {
  padding-bottom: 40px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .icon__list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .icon__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__icon:first-child {
  margin-left: 0;
}

.footer--svg {
  fill: #000;
  -webkit-transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
          transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}
.footer--svg:hover {
  background-color: #cda274;
  color: #ffffff;
}

.about__us {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 17px;
}

.about-us__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.about-us__link {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
  display: block;
  margin-top: 48px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-us__link:hover {
  color: #cda274;
}

.contact {
  padding-bottom: 140px;
  position: relative;
}

.contact__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292f36;
  max-width: 500px;
  margin-bottom: 42px;
}

.contact__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  max-width: 500px;
  margin-bottom: 30px;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__icon {
  fill: #cda274;
  background-color: #f4f0ec;
  padding: 30px;
  border-radius: 100px;
}

.contact__call {
  margin-left: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  max-width: 152px;
}

.contact__button {
  background: #292F36;
  border: 2px solid #292F36;
  border-radius: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 34px;
  padding-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.contact__img {
  position: absolute;
  bottom: 170px;
  right: 95px;
  width: 600px;
  border-radius: 0px 326px 0px 123px;
}

.sponsors {
  padding-bottom: 80px;
}

.sponsors__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}

.sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors__item {
  max-width: 300px;
}
.sponsors__item:nth-child(4) {
  max-width: 100px;
}/*# sourceMappingURL=main.css.map */